{
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 3000,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
